{% extends "layout.twig" %}

{% block header %}
<link rel="stylesheet" href="/styles/slider.min.css">
{% endblock %}

{% block title %}Senioren Service Neustadt{% endblock %}

{% block content %}

{% include "tiles/hero_slider.html" %}

<div class="slide-above-hero">

  <div class="container">

    <div class="tile">

      {% include "data/home.html" %}

    </div>

    <div class="row">

      <div class="col-sm-6">

        {% include "tiles/leistungsangebot.twig" %}

      </div>

      <div class="col-sm-6">

        {% include "tiles/kostenubersicht.twig" %}

      </div>

    </div>

  </div>

</div>

<div class="shadow-fix">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

{% endblock %}

{% block footer %}
<script>setNavActive('{{ path_for('index') }}');</script>
{% endblock %}
