{% extends "layout.twig" %}

{% block header %}
<link rel="stylesheet" href="/styles/slider.css">
{% endblock %}

{% block title %}Senioren Service Neustadt{% endblock %}

{% block content %}

{% include "tiles/hero_slider.html" %}

<div class="container">

  <div class="tile">

    <h1>Herzlich Willkommen beim Senioren-Service-Neustadt am Rübenberge</h1>

    <p>

      Sie möchten <strong>selbstbestimmt zu Hause wohnen</strong> und wünschen sich <strong>regelmäßig oder
      ab und zu Unterstützung?</strong> Dann wenden Sie sich vertrauensvoll an uns. <strong>Wir sind gern für Sie da.</strong>
      <br>
      <br>
      Die Betreuung und haushaltsnahe Dienstleistung nach § 45 b können durch den Verein
      Senioren-Service-Neustadt e.V. günstiger abgerechnet werden.
      <br>
      <br>
      Die Einkaufs- und Haushalthilfe wird bei Pflegestufe 0, I, II und III mit einem Betrag
      von 104 € von der Pflegekasse übernommen.
      <br>
      <br>
      <strong>Ich freue mich auf Ihren Anruf und wir lernen uns persönlich kennen.
      Lassen Sie sich den Alltag erleichtern!</strong>
      <br>
      <br>
      Adriana Reichenbach

    </p>

  </div>

  <div class="row">

    <div class="col-sm-6">

      {% include "tiles/leistungsangebot.html" %}

    </div>

    <div class="col-sm-6">

      {% include "tiles/kostenubersicht.html" %}

    </div>

  </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}

{% block footer %}
<script>setNavActive('{{ path_for('index') }}');</script>
{% endblock %}
