{% extends "layout.twig" %}

{% block title %}Seite konnte nicht gefunden werden{% endblock %}

{% block content %}
<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    <h1>Seite konnte nicht gefunden werden</h1>

    <p>
      Die angefragte Seite konnte nicht gefunden werden.
      Bitte überprüfen Sie die eingegebene URL oder
      <a href="{{ path_for('contact') }}" target="_blank">kontaktieren</a> Sie den Seitenbetreiber.
      <br>
      <br>
      <a href="{{ path_for('index') }}">&gt; Zurück zur Startseite</a>
    </p>

  </div>

</div>

{% endblock %}
