---
layout: default
permalink: /
title: Senioren Service Neustadt
header: <link rel="stylesheet" href="/assets/styles/slider.min.css">
footer: <script>setNavActive('/');</script>
---

{% include tiles/hero_slider.html %}

<div class="slide-above-hero">

  <div class="container">

    <div class="tile">

      {% include data/home.html %}

    </div>

    <div class="row">

      <div class="col-sm-6">

        {% include tiles/leistungsangebot.html %}

      </div>

      <div class="col-sm-6">

        {% include tiles/kostenubersicht.html %}

      </div>

    </div>

  </div>

</div>

<div class="shadow-fix">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
