<div class="container-fluid">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">

        <div class="slide-text">
          Sie wünschen sich Unterstützung?
          <div class="slide-text-caption">
          </div>
        </div>

        <div class="slide" style="background-image: url('/gfx/img1.jpg')"></div>
      </div>

      <div class="item">
        <div class="slide-text slide-text-right">
          Wir sind gern für Sie da!
          <div class="slide-text-caption">
          </div>
        </div>

        <div class="slide" style="background-image: url('/gfx/img2.jpg')"></div>
      </div>

      <div class="item">
        <div class="slide-text">
          Lassen Sie sich den Alltag erleichtern!
          <div class="slide-text-caption">
          </div>
        </div>

        <div class="slide" style="background-image: url('/gfx/img3.jpg')"></div>
      </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Vorheriges</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Nächstes</span>
    </a>
  </div>

</div>
