<div class="tile">

  <h1>Leistungsangebot</h1>

  <p>
    <style>
    #p_list {
      padding-top: 8px;
    }
    #p_list > li {
      margin-bottom: 8px;
    }
    </style>
    <ul id="p_list">

      <li><strong>Fahrdienst</strong> - auch mit Transportschein<br>Apotheke, Friseur, Besuche oder Ausflüge</li>

      <li>Begleitung bei <strong>Arztbesuchen oder Behördengängen</strong></li>

      <li><strong>Einkaufshilfe</strong> für Sie oder mit Ihnen zusammen</li>

      <li><strong>Haushaltshilfe</strong>, Garten- und Grabpflege</li>

      <li><strong>Ersatz- oder Verhinderungspflege</strong> - Abrechnung direkt mit der Pflegekasse nach § 39 SGB XI</li>

      <li><strong>Demenzbetreuung</strong> - Abrechnung direkt mit der Pflegekasse nach § 45b über den neugegründeten Verein Senioren-Service-Neustadt e.V.</li>

      <li><strong>Versorgung nach Krankenhausaufenthalt oder bei Krankheit</strong> - Abrechnung direkt mit der Krankenkasse möglich</li>

      <li><strong>Organisieren von Pflege und Essen auf Rädern</strong></li>

      <li><strong>Freizeitaktivitäten:</strong> Kreativgestaltung, Stadtbummel, ...</li>

    </ul>

    <br>

    Haben Sie individuelle Wünsche oder Fragen?
    <br><br>
    Telefon: 05032 - 901789
    <br><br>

  </p>

</div>
