{% extends "layout.twig" %}

{% block title %}Jobangebote{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    {% include "data/jobangebote.html" %}

  </div>

</div>

{% endblock %}

{% block footer %}
<script>setDropdownActive('info');</script>
{% endblock %}
