{% extends "layout.twig" %}

{% block title %}Kostenübersicht{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  {% include "tiles/kostenubersicht.html" %}

</div>

{% endblock %}
