{% extends "layout.twig" %}

{% block title %}Mitarbeiter{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    <h1>Mitarbeiter</h1>

    <p><strong>Wir sind für Sie da!</strong></p>

    <img class="img-responsive" src="/gfx/mitarbeiter.jpg">

    <p>Mitarbeiter und Ehrenamtliche</p>

  </div>

</div>

{% endblock %}

{% block footer %}
<script>setDropdownActive('info');</script>
{% endblock %}
