{% extends "layout.twig" %}

{% block title %}Mitarbeiter{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    {% include "data/mitarbeiter.html" %}

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

</div>

{% endblock %}

{% block footer %}
<script>setDropdownActive('info');</script>
{% endblock %}
