{% extends "layout.twig" %}

{% block title %}Pflegestärkungsgesetz{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    <h1>Pflegestärkungsgesetz</h1>

    <p>
      Mit dem neuen Pflegestärkungsgesetz dürfen alle, die Pflegestufe I, II oder III haben,
      Betreuungsgeld zur Entlastung bei der Pflegekasse beantragen. Somit hat man 104 € oder bei
      höherer Einschränkung auch 208 € monatlich zur Verfügung.
      <br><br>
      Über weitere Gesetzesänderungen in der Verhinderungs-, Ersatz- oder Kurzzeitpflege
      kann ich Sie gern in einem Gespräch beraten, damit eine finanzielle Entlastung erreicht werden kann.
    </p>

  </div>

</div>

{% endblock %}

{% block footer %}
<script>setDropdownActive('info');</script>
{% endblock %}
