{% extends "layout.twig" %}

{% block title %}Pflegestärkungsgesetz{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    {% include "data/pflegestaerkungsgesetz.html" %}

  </div>

</div>

{% endblock %}

{% block footer %}
<script>setDropdownActive('info');</script>
{% endblock %}
