.carousel-control.left, .carousel-control.right {
  background: 0;
}

.slide-container {
  padding: 0;
  height: 92%;
}

.item, .carousel-inner, .carousel {
  height: 100%;
}
.h-fix {
  height: 100%;
}

.slide {
  display: inline-block;
  height: 100%; width: 100%;
  background-size: cover;
  background-position: top;
}

.carousel-inner .item {
  position: relative;
}
.slide-text {
  position: absolute;
  top: 46%; left: 20%;
  font-size: 40pt;
  text-shadow: 0px 0px 8px #111;
  color: #fff;
  font-weight: bold;
}
