{% extends "layout.twig" %}

{% block title %}{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    <h1>Geschenkgutscheine</h1>

    <p>
      Verschenken Sie doch einfach mal Zeit, Fahrdienst oder eine Service-Leistung!
      <br><br>
      Die Kosten fallen, nach Absprache, erst beim Einlösen an. So haben Sie kein Risiko und etwas Besonderes!
    </p>

  </div>

</div>

{% endblock %}

{% block footer %}
<script>setDropdownActive('sonstiges');</script>
{% endblock %}
