{% extends "layout.twig" %}

{% block title %}Jobangebote{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    <h1>Jobangebote</h1>

    {% if jobs %}

    <p>
      Es besteht immer mal wieder Bedarf an Mitarbeitern, auch zur Vertretung:
      <br>

      <ul>

        {% for job in jobs %}
          <li>{{ job }}</li>
        {% endfor %}

      </ul>

      <br>
      Arbeiten Sie gern mit älteren Menschen, sind Sie zuverlässig, ehrlich, pünktlich, hilfsbereit und geduldig?
      <br><br>
      Ein Führerschein, Fahrzeug und Flexibilität wären auch von Vorteil. Dann können Sie mir eine Mail mit Ihrer Telefonnummer schicken uch ich melde mich bei Ihnen.
    </p>

    {% else %}

    <p>
      Momentan sind keine Jobangebote vorhanden.
    </p>

    {% endif %}

  </div>

</div>

{% endblock %}

{% block footer %}
<script>setDropdownActive('sonstiges');</script>
{% endblock %}
