<!DOCTYPE html>
<html lang="html">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Willkommen beim Senioren Service Neustadt am Rübenberge">
  	<meta name="HandheldFriendly" content="true">
    <meta name="theme-color" content="#4caf50">
    <link rel="icon" href="/assets/imgs/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="msapplication-navbutton-color" content="#4caf50">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/main.min.css">
    <link rel="stylesheet" href="/assets/styles/navbar.min.css">

    {{ page.header }}

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
    		<div class="navbar-header">
    			<button id="nav-btn" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="/"><span class="nav-span">SENIOREN</span> <span class="nav-span">SERVICE</span> <span class="nav-span">NEUSTADT</span></a>
    		</div>
    		<div class="collapse navbar-collapse" id="myNav">
    			<ul class="nav navbar-nav navbar-right">
    				<li><a href="/">Startseite</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-id="info">Informationen
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/leistungsangebot">Leistungsangebot</a></li>
                <li><a href="/mitarbeiter">Mitarbeiter</a></li>
                <li><a href="/kostenubersicht">Kostenübersicht</a></li>
                <li><a href="/pflegegesetz">Pflegestärkungsgesetz</a></li>
                <li><a href="/jobangebote">Jobangebote</a></li>
              </ul>
            </li>
            <li><a href="/kontakt">Kontakt</a></li>
    				<li><a href="/impressum">Impressum</a></li>
    			</ul>
    		</div>
    	</div>
    </nav>

    {{ content }}

    <div class="font-size-chooser">

      <div onclick="decreaseFontSize()" class="decrease-font-size">-</div>

      <div onclick="resetFontSize()" class="choose-font">Schriftgröße</div>

      <div onclick="increaseFontSize()" class="increase-font-size">+</div>

    </div>

    <footer>

      <p>2018 &copy; Senioren-Service-Neustadt e.V.</p>

      <ul class="footer-list">

        <li><a href="/">Startseite</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="/datenschutzerklaerung">Datenschutz</a></li>

      </ul>

      <p>Design by <a href="https://moritz-schramm.com" target="_blank">Moritz Schramm</a></p>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/assets/scripts/main.min.js"></script>
    {{ page.footer }}

  </body>
</html>
