<h1>Jobangebote</h1>

<p>
  Es besteht immer mal wieder Bedarf an Mitarbeitern, auch zur Vertretung:
  <br>

  <ul>

    <li>Haushaltshilfe (gern mit Auto)</li>
    <li>Altenpflegehelferin (gern mit Auto)</li>
    <li>Gärtner/in oder Gartenhelfer/in (gern mit Auto)</li>
    <li>Seniorenbetreuer (gern mit Auto u. Demenzbetreuungszertifikat)</li>

  </ul>

  <br>
  Arbeiten Sie gern mit älteren Menschen, sind Sie zuverlässig, ehrlich, pünktlich, hilfsbereit und geduldig?
  <br><br>
  Ein Führerschein, Fahrzeug und Flexibilität wären auch von Vorteil. Dann können Sie mir eine Mail mit Ihrer Telefonnummer schicken uch ich melde mich bei Ihnen.
</p>
